{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div style="padding-left: 550px; padding-top: 60px">
<h1>{% trans "Регистрация" %}</h1>

<p>{% blocktrans %} У вас уже есть аккаунт? <a href="{{ login_url }}">Авторизуйтесь</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button style="background-color: pink; border-color: lightcoral; height: 40px; width: 250px; border-radius: 10px" type="submit">{% trans "Зарегистрироваться" %} </button>
</form>
    </div>

{% endblock %}
